header {
    background-color: #333333;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    img {
        height: 2em;
    }

    .search-bar {
        background: white;
        border-radius: 20px;
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            border: none;
            outline: none;
            height: 1.75em;
            width: 25em;
            font-family: 'Montserrat', sans-serif;
        }

        img {
            height: 1em;
            padding: 0 0.2em;
        }
    }
}