.title-section{
    position: relative;
    overflow: hidden;
    max-width: 100vw;

    .title-content{
        position: relative;
        z-index: 99;
        width: 100%;
        height: 80vh;
        padding: 5em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;

        text-align: center;
        color: #FFF;

        .game{
            z-index: 99;
            font-size: 5em;
            font-weight: 200;
        }

        .title{
            font-size: 1.5em;
            font-style: italic;
        }

        .reviewer{
            font-size: 1em;
        }
    }

    .background-video{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        video{
            position: relative;
            // Top value is in the media querries
            // Same for width
        }

        .gradient{
            position: absolute;
            bottom: 0;

            width: 100%;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    }
}

.recap-section{
    padding-top: 2em;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    color: #FFF;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: fit-content;
    padding-bottom: 3em;
    
    .game-container{
        width: 45%;
        max-width: 45%;
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1em;

        .cover-and-platforms-wrapper{
            position: relative;
            width: fit-content;
            height: fit-content;

            .cover-wrapper{
                position: relative;
                width: fit-content;
                height: 14em;

                .cover{
                    border-radius: 0.5em;
                    height: 100%;
        
                    box-shadow: 0 0 1em #FFF;
                }

                .platforms-container{
                    position: absolute;
                    bottom: 0;
                    border-radius: 0.5em;
                    width: 14em;
                    height: 7em;
                    padding: 0.5em 0.3em;

                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-around;
                    
                    background: rgb(255,255,255);
                    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 100%);

                    .platform{
                        height: 1.5rem;
                    }
                }

            }
        }


        .game-info-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.5em;

            .underline{
                text-decoration: underline;
            }

            .game-title{
                font-size: 2em;
                font-weight: 600;
            }
        }
    }

    .reviews-container{
        width: 45%;
        max-width: 45%;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;


        .grade-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;

            .grade{
                width: 6rem;
                height: 6rem;
                
                box-shadow: 0 0 0.7rem #FFF;
                border-radius: 0.5rem;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                font-size: 3.5rem;
                font-weight: 500;

                &.good{
                    background: #00CE7A;
                    box-shadow: 0 0 0.7rem #00CE7A;
                }

                &.average{
                    background: #FFBD3F;
                    box-shadow: 0 0 0.7rem #FFBD3F;
                }

                &.bad{
                    background: #FD0000;
                    box-shadow: 0 0 0.7rem #FD0000;
                }
            }

            .grades-info-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .grade-info-title{
                    font-size: 2rem;
                    font-weight: 600;
                }

                .grade-info-more{
                    font-style: italic;
                }
            }
        }

    }
}

.divider{
    width: 100%;
}

.article-section{
    max-width: 100%;
    margin: 10vh 15vw 10vh 15vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5em;

    .image-container{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;

        .image{
            width: 80%;
            border-radius: 1em;
        }

        .caption{
            text-align: center;
            color: #767676;
            font-size: 0.8em;
            font-style: italic;
            max-width: 70%;
        }
    }

    .article-catch{
        font-size: 2.5em;
        font-weight: 800;
    }

    .intro{
        font-weight: 600;
        line-height: 1.75;
    }

    .part-title{
        font-size: 1.8em;
        font-weight: 600;
    }

    .corpus{
        line-height: 2;
    }
    

    .final-grade-plus-minus-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .plus-minus-wrapper{
            margin-top: 3em;

            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;

            padding: 3em;

            background: #E1E1E1;
            border-radius: 1em;
            box-shadow: 0 0 1em rgba(0,0,0,0.5);

            .final-grade-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;

                .final-grade-title{
                    font-size: 1.5em;
                    font-weight: 600;
                    text-align: center;
                }

                .grade{
                    width: 6rem;
                    height: 6rem;
                    
                    box-shadow: 0 0 0.7rem #FFF;
                    border-radius: 0.5rem;
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    font-size: 3.5rem;
                    font-weight: 500;

                    &.good{
                        background: #00CE7A;
                        box-shadow: 0 0 0.7rem #00CE7A;
                    }

                    &.average{
                        background: #FFBD3F;
                        box-shadow: 0 0 0.7rem #FFBD3F;
                    }

                    &.bad{
                        background: #FD0000;
                        box-shadow: 0 0 0.7rem #FD0000;
                    }
                }
            }

            .plus-minus-container{
                position: relative;
                display: flex;
                align-items: flex-start;
                width: 100%;

                .column{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                    .column-title{
                        font-size: 1.5em;
                        font-weight: 600;
                        width: max-content;
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                        li{
                            display: flex;

                            line-height: 1.25;

                            &:before{
                                flex-shrink: 0;
                                margin-top: 0.15em;
                                margin-right: 0.5em;
                                height: 1em;
                                width: 1em;

                                content: '';
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }

                            &.plus::before{
                                background-image: url("/assets/icons/plus.svg");
                            }

                            &.minus::before{
                                background-image: url("/assets/icons/minus.svg");
                            }
                        }
                    }
                }
            }
        }
    }
}

.review-section{
    max-width: 100%;
    overflow: hidden;
    background: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;

    padding: 6em 20%;

    .review-section-title{
        color: #FFF;
        font-size: 3em;
        font-weight: bold;
    }
}
















@media screen and (max-width: 1260px) {
    .background-video{
        video{
            top: 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .background-video{
        video{
            top: 0;
            left: -25%;
            width: 150%;
        }
    }
}

@media screen and (min-width: 1260px) {
    .background-video{
        video{
            top: -20vh;
            width: 100%;
        }
    }
}