.title-section{
    position: relative;

    .title-content{
        position: relative;
        z-index: 99;
        width: 100%;
        height: 80vh;
        padding: 5em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;

        text-align: center;
        color: #FFF;

        .game{
            z-index: 99;
            font-size: 5em;
            font-weight: 200;
        }

        .title{
            font-size: 1.5em;
            font-style: italic;
        }

        .reviewer{
            font-size: 1em;
        }
    }

    .background-video{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        video{
            position: relative;
            // Top value is in the media querries
            width: 100%;
        }

        .gradient{
            position: absolute;
            bottom: 0;

            width: 100%;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    }
}

.recap-section{
    background: #000;
    color: #FFF;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: fit-content;
    padding-bottom: 3em;
    
    .game-container{
        width: 45%;
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1em;

        .cover{
            border-radius: 0.5em;
            height: 14em;

            box-shadow: 0 0 1em #FFF;
        }

        .game-info-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.5em;

            .underline{
                text-decoration: underline;
            }

            .game-title{
                font-size: 2em;
                font-weight: 600;
            }
        }
    }

    .reviews-container{
        width: 45%;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;


        .grade-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;

            .grade{
                width: 6rem;
                height: 6rem;
                
                box-shadow: 0 0 0.7rem #FFF;
                border-radius: 0.5rem;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                font-size: 3.5rem;
                font-weight: 500;

                &.good{
                    background: #00CE7A;
                }

                &.average{
                    background: #FFBD3F;
                }
            }

            .grades-info-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .grade-info-title{
                    font-size: 2rem;
                    font-weight: 600;
                }

                .grade-info-more{
                    font-style: italic;
                }
            }
        }

    }
}

.divider{
    width: 100%;
}

.article-section{
    margin: 10vh 15vw 10vh 15vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5em;

    .image-container{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;

        .image{
            width: 80%;
            border-radius: 1em;
        }

        .caption{
            text-align: center;
            color: #767676;
            font-size: 0.8em;
            font-style: italic;
            max-width: 70%;
        }
    }

    .article-catch{
        font-size: 2.5em;
        font-weight: 800;
    }

    .intro{
        font-weight: 600;
    }

    .part-title{
        font-size: 1.8em;
        font-weight: 600;
    }

    .corpus{
        line-height: 2;
    }
    
    .plus-minus-wrapper{
        margin-top: 3em;

        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;

        .plus-minus-container{
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 3em;

            background: #E1E1E1;
            border-radius: 1em;
            box-shadow: 0 0 1em rgba(0,0,0,0.5);

            .column{
                width: 45%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1em;

                .column-title{
                    font-size: 1.5em;
                    font-weight: 600;
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;

                    li{
                        display: flex;

                        line-height: 1.25;

                        &:before{
                            flex-shrink: 0;
                            margin-top: 0.15em;
                            margin-right: 0.5em;
                            height: 1em;
                            width: 1em;

                            content: '';
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }

                        &.plus::before{
                            background-image: url("/assets/icons/plus.svg");
                        }

                        &.minus::before{
                            background-image: url("/assets/icons/minus.svg");
                        }
                    }
                }
            }

            .plus-minus-divider{
                height: 80%;
                width: 2px;
                background: #E1E1E1;
            }
        }
    }
}

.avis-section{
    height: 100vh;
    background: #000;
}



@media screen and (max-width: 1260px) {
    .background-video{
        video{
            top: 0;
        }
    }
}

@media screen and (min-width: 1260px) {
    .background-video{
        video{
            top: -20vh;
        }
    }
}