.title-section {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
}
.title-section .title-content {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 80vh;
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-align: center;
  color: #FFF;
}
.title-section .title-content .game {
  z-index: 99;
  font-size: 5em;
  font-weight: 200;
}
.title-section .title-content .title {
  font-size: 1.5em;
  font-style: italic;
}
.title-section .title-content .reviewer {
  font-size: 1em;
}
.title-section .background-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.title-section .background-video video {
  position: relative;
}
.title-section .background-video .gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.recap-section {
  padding-top: 2em;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 3em;
}
.recap-section .game-container {
  width: 45%;
  max-width: 45%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.recap-section .game-container .cover-and-platforms-wrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.recap-section .game-container .cover-and-platforms-wrapper .cover-wrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 14em;
}
.recap-section .game-container .cover-and-platforms-wrapper .cover-wrapper .cover {
  border-radius: 0.5em;
  height: 100%;
  box-shadow: 0 0 1em #FFF;
}
.recap-section .game-container .cover-and-platforms-wrapper .cover-wrapper .platforms-container {
  position: absolute;
  bottom: 0;
  border-radius: 0.5em;
  width: 14em;
  height: 7em;
  padding: 0.5em 0.3em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
}
.recap-section .game-container .cover-and-platforms-wrapper .cover-wrapper .platforms-container .platform {
  height: 1.5rem;
}
.recap-section .game-container .game-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
}
.recap-section .game-container .game-info-container .underline {
  text-decoration: underline;
}
.recap-section .game-container .game-info-container .game-title {
  font-size: 2em;
  font-weight: 600;
}
.recap-section .reviews-container {
  width: 45%;
  max-width: 45%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.recap-section .reviews-container .grade-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.recap-section .reviews-container .grade-container .grade {
  width: 6rem;
  height: 6rem;
  box-shadow: 0 0 0.7rem #FFF;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 500;
}
.recap-section .reviews-container .grade-container .grade.good {
  background: #00CE7A;
  box-shadow: 0 0 0.7rem #00CE7A;
}
.recap-section .reviews-container .grade-container .grade.average {
  background: #FFBD3F;
  box-shadow: 0 0 0.7rem #FFBD3F;
}
.recap-section .reviews-container .grade-container .grade.bad {
  background: #FD0000;
  box-shadow: 0 0 0.7rem #FD0000;
}
.recap-section .reviews-container .grade-container .grades-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.recap-section .reviews-container .grade-container .grades-info-container .grade-info-title {
  font-size: 2rem;
  font-weight: 600;
}
.recap-section .reviews-container .grade-container .grades-info-container .grade-info-more {
  font-style: italic;
}

.divider {
  width: 100%;
}

.article-section {
  max-width: 100%;
  margin: 10vh 15vw 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5em;
}
.article-section .image-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.article-section .image-container .image {
  width: 80%;
  border-radius: 1em;
}
.article-section .image-container .caption {
  text-align: center;
  color: #767676;
  font-size: 0.8em;
  font-style: italic;
  max-width: 70%;
}
.article-section .article-catch {
  font-size: 2.5em;
  font-weight: 800;
}
.article-section .intro {
  font-weight: 600;
  line-height: 1.75;
}
.article-section .part-title {
  font-size: 1.8em;
  font-weight: 600;
}
.article-section .corpus {
  line-height: 2;
}
.article-section .final-grade-plus-minus-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper {
  margin-top: 3em;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 3em;
  background: #E1E1E1;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .final-grade-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .final-grade-container .final-grade-title {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .final-grade-container .grade {
  width: 6rem;
  height: 6rem;
  box-shadow: 0 0 0.7rem #FFF;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 500;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .final-grade-container .grade.good {
  background: #00CE7A;
  box-shadow: 0 0 0.7rem #00CE7A;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .final-grade-container .grade.average {
  background: #FFBD3F;
  box-shadow: 0 0 0.7rem #FFBD3F;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .final-grade-container .grade.bad {
  background: #FD0000;
  box-shadow: 0 0 0.7rem #FD0000;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .plus-minus-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 3em;
  width: 100%;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .plus-minus-container .column {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .plus-minus-container .column .column-title {
  font-size: 1.5em;
  font-weight: 600;
  width: -moz-max-content;
  width: max-content;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .plus-minus-container .column ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .plus-minus-container .column ul li {
  display: flex;
  line-height: 1.25;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .plus-minus-container .column ul li:before {
  flex-shrink: 0;
  margin-top: 0.15em;
  margin-right: 0.5em;
  height: 1em;
  width: 1em;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .plus-minus-container .column ul li.plus::before {
  background-image: url("/assets/icons/plus.svg");
}
.article-section .final-grade-plus-minus-wrapper .plus-minus-wrapper .plus-minus-container .column ul li.minus::before {
  background-image: url("/assets/icons/minus.svg");
}

.review-section {
  max-width: 100%;
  overflow: hidden;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8em;
  padding: 6em 20%;
}
.review-section .review-section-title {
  color: #FFF;
  font-size: 3em;
  font-weight: bold;
}

@media screen and (max-width: 1260px) {
  .background-video video {
    top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .background-video video {
    top: 0;
    left: -25%;
    width: 150%;
  }
}
@media screen and (min-width: 1260px) {
  .background-video video {
    top: -20vh;
    width: 100%;
  }
}/*# sourceMappingURL=article.css.map */