.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7em;
  width: 100%;
  padding: 4em 20%;
}
.content-wrapper textarea {
  white-space: pre-wrap;
}
.content-wrapper .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}
.content-wrapper .title-section .title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.content-wrapper .title-section .title-container img {
  height: 4em;
}
.content-wrapper .title-section .title-container .title {
  font-size: 4em;
  font-weight: bold;
}
.content-wrapper .title-section .description {
  font-size: 1.25em;
  font-weight: 500;
  text-decoration: underline;
}
.content-wrapper .title-section .cover {
  height: 12rem;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}
.content-wrapper .editor-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.content-wrapper .editor-section .editor-title {
  font-size: 2rem;
  font-weight: bold;
}
.content-wrapper .editor-section #article-editor-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container label {
  position: relative;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container label .delete-btn {
  position: absolute;
  right: -1.5em;
  top: calc(50% - 0.6em);
  height: 0.9em;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input {
  width: 100%;
  padding: 1em;
  border: 0.15em solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 1rem;
  font-size: 1.25rem;
  font-family: "Montserrat";
  font-weight: 500;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input:focus {
  border: 0.15em solid #238BE8;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input.all-image-attributes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input.all-image-attributes .image-attribute-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2em;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input.all-image-attributes .image-attribute-container .image-attribute-name {
  position: relative;
  left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input.all-image-attributes .image-attribute-container .image-attribute-name .preview-icon {
  height: 2.5rem;
  cursor: pointer;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input.all-image-attributes .image-attribute-container .image-attribute-name .preview-icon:hover + .preview {
  display: block;
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input.all-image-attributes .image-attribute-container .image-attribute-name .preview {
  display: none;
  position: absolute;
  left: 12em;
  top: 0;
  height: 15rem;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}
.content-wrapper .editor-section #article-editor-form .all-inputs-container .input-container .input.all-image-attributes .image-attribute-container .input {
  padding: 0.5em 1em;
}
.content-wrapper .editor-section #article-editor-form .points-container {
  margin-top: 4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.content-wrapper .editor-section #article-editor-form .points-container .points-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.content-wrapper .editor-section #article-editor-form .points-container .points-title-container .points-title {
  font-size: 2rem;
  font-weight: bold;
}
.content-wrapper .editor-section #article-editor-form .points-container .points-title-container .points-info-msg {
  font-size: 0.7em;
  font-weight: 500;
  font-style: italic;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container label {
  position: relative;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container .input {
  width: 100%;
  padding: 1em;
  border: 0.15em solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 1rem;
  font-size: 1.25rem;
  font-family: "Montserrat";
  font-weight: 500;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container .input:focus {
  border: 0.15em solid #238BE8;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container .input.all-points {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container .input.all-points .point-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2em;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container .input.all-points .point-container .point-name {
  position: relative;
  left: 0.5em;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container .input.all-points .point-container .input {
  padding: 0.5em 1em;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container .input.all-points .point-container .input.positive {
  color: #03C723;
}
.content-wrapper .editor-section #article-editor-form .points-container .all-points-container .input-container .input.all-points .point-container .input.negative {
  color: #C70303;
}
.content-wrapper .editor-section #article-editor-form .add-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}/*# sourceMappingURL=article-editor.css.map */