.content-wrapper{


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;

    width: 100%;
    padding: 4em 0;

    .title-section{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5em;

        .title-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1em;

            img{
                height: 4em;
            }

            .title{
                font-size: 4em;
                font-weight: bold;
            }
        }
    }


    .options-section{
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em;

        width: 100%;
        
        .option-wrapper{
            position: relative;
            
            .option-container{
                position: relative;
                width: 20rem;
                height: 20rem;

                border: 0.2rem solid rgba(0,0,0,0.1);
                border-radius: 1em;

                transition: all 0.2s;

                cursor: pointer;

                &.selected{
                    transform: scale(1.05);

                    .tick{
                        display: flex;
                    }
                }

                &.unselected{
                    &:hover{
                        transform: scale(1.05);
                    }
                }


                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1em;

                .option-icon{
                    height: 5rem;
                }

                .option-title{
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                .tick{
                    display: none;

                    position: absolute;
                    right: -1rem;
                    bottom: -1rem;
                    align-items: center;
                    justify-content: center;

                    height: 3rem;
                    width: 3rem;
                    border-radius: 100%;
                    background: #01aebe;
                    box-shadow: 0 0 0.5rem #01aebe;

                    img{
                        width: 65%;
                    }
                }
            }
        }
    }

    .form-section{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        .option-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;

            &.selected{
                display: flex;
            }

            &.unselected{
                display: none;
            }

            .choice-label{
                font-weight: bold;
                font-size: 2rem;
            }

            .choice-input{
                border: none;
                outline: none;
                background: none;

                font-size: 1.5rem;
                font-weight: 500;
                font-family: 'Montserrat';
                text-align: left;
                border-bottom: 0.1em solid #110F14;
                padding: 0.2rem;

                &::placeholder{
                    color: rgba(0,0,0,0.2);
                }
            }

            .error-msg{
                font-size: 1rem;
                font-weight: 500;
                color: #C70303;

                &.visible{
                    display: block;
                }

                &.hidden{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1130px) {
    .options-section{
        flex-direction: column;
    }
}