.main-logo {
    align-self: center;
    margin: 5em;
}

.section-title {
    align-self: center;
    padding: 1em 0;
    text-align: center;
    font-size: 4em;
    letter-spacing: 1em;
    text-transform: uppercase;
    font-weight: 300;
}