h2 {
  text-align: center;
  padding: 2em 0 1em 0;
  font-weight: 200;
  font-size: 2.5em;
  text-transform: uppercase;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0 5em 0;
  gap: 2em;
}
.profile .hide {
  display: none;
}
.profile input {
  outline: none;
  border: none;
}
.profile .profile-main {
  display: flex;
  align-items: center;
  gap: 2em;
}
.profile .profile-main .profile-user {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.profile .profile-main .profile-user .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.profile .profile-main .profile-user .profile-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .profile-main .profile-user .profile-picture .profile-picture-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .profile-main .profile-user .profile-picture .profile-picture-overlay * {
  text-align: center;
  text-shadow: 0 0 5px black;
  color: white;
}
.profile .profile-main .profile-user .profile-picture .profile-picture-overlay input[type=file] {
  display: none;
}
.profile .profile-main .profile-user p {
  text-align: center;
}
.profile .profile-main .profile-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.profile .profile-main .profile-info .name {
  display: flex;
  gap: 0.5em;
}
.profile .bio {
  width: 50%;
}
.profile .bio h3 {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding: 2em 0 1em 0;
}
.profile .bio p {
  text-align: center;
}
.profile .bio textarea {
  width: 100%;
  height: 200px;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #f0f0f0;
  resize: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.profile a {
  margin-top: 2em;
}
.profile .profile-stats {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}
.profile .user-content > h3 {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding: 2em 0 1em 0;
}
.profile .user-content .articles {
  display: grid;
  grid-template-columns: auto auto;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
@media (max-width: 768px) {
  .profile .user-content .articles {
    grid-template-columns: auto;
  }
}
.profile .user-content .articles > * {
  justify-self: center;
  display: flex;
}
.profile .user-content .articles .pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.profile .user-content .articles .pagination h3 {
  padding: 0.5em;
  font-size: 2.5em;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}
.profile .user-content .articles .pagination .pagination-nav {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.profile .user-content .articles .pagination .pagination-nav h4 {
  align-self: center;
  padding: 0.5em 2em;
  font-size: 1.5em;
  font-weight: 200;
  font-style: italic;
  text-transform: capitalize;
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
}
.profile .actions {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1em;
}
.profile .actions .section {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: end;
}/*# sourceMappingURL=profile.css.map */