h2 {
    text-align: center;
    padding: 2em 0 1em 0;
    font-weight: 200;
    font-size: 2.5em;
    text-transform: uppercase;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 0 5em 0;
    gap: 2em;

    .hide {
        display: none;
    }

    input {
        outline: none;
        border: none;
    }

    .profile-main {
        display: flex;
        align-items: center;
        gap: 2em;

        .profile-user {
            display: flex;
            flex-direction: column;
            gap: 1em;
            
            .profile-picture {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .profile-picture-overlay { 
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    * {
                        text-align: center;
                        text-shadow: 0 0 5px black;
                        color: white;

                    }

                    input[type="file"] {
                        display: none;
                    }
                }
            }

            p {
                text-align: center;
            }
        }

        .profile-info {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .name {
                display: flex;
                gap: 0.5em;
            }
        }
    }

    .bio {
        width:50%;

        h3 {
            font-size: 1.5em;
            font-weight: 200;
            text-align: center;
            padding: 2em 0 1em 0;
        }

        p {
            text-align: center;
        }

        textarea {
            width: 100%;
            height: 200px;
            padding: 1em;
            border-radius: 0.5em;
            border: 1px solid #f0f0f0;
            resize: none;
            outline: none;
            font-family: 'Montserrat', sans-serif;
        }
    }

    a {
        margin-top: 2em;
    }

    .profile-stats {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 2em;
    }

    .user-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        > h3 {
            font-size: 1.5em;
            font-weight: 200;
            text-align: center;
            padding: 2em 0 1em 0;
        }

        .articles {
            display: grid;
            grid-template-columns: auto auto;
            width: fit-content;
            align-self: center;
        
        
            @media (max-width: 768px) {
                grid-template-columns: auto;
            }
        
            > * {
                justify-self: center;
                display: flex;
            }
        
            .pagination {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1em;
                
                h3 {
                    padding: 0.5em;
                    font-size: 2.5em;
                    font-weight: 200;
                    text-align: center;
                    text-transform: uppercase;
                }
        
                .pagination-nav {
                    display: flex;
                    justify-content: center;
                    padding: 1em;
        
                    h4 {
                        align-self: center;
                        padding: 0.5em 2em;
                        font-size: 1.5em;
                        font-weight: 200;
                        font-style: italic;
                        text-transform: capitalize;
                        text-decoration: 1px underline;
                    }
                }
            }
        }
        
        .comments {
            display: flex;
            flex-direction: row;
            gap: 1em;
            align-items: center;

            overflow-x: scroll;
            overflow-y: hidden;
            width: 750px;
            padding: 1em;
            border-radius: 0.5em;

            
            
            .comment {
                display: flex;
                flex-direction: column;
                gap: 1em;
                align-items: center;
                justify-content: center;
                padding: 1em;
                border: 1px solid #f0f0f0;
                border-radius: 0.5em;
                width: 100%;
                text-align: center;
                
                p {
                    width: max-content;
                }

                a {
                    text-decoration: underline;
                    color: black;
                }
            }
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 1em;

        .section {
            display: flex;
            justify-content: center;
            gap: 1em;
            align-items: end;
        }
    }
}

.redirect {
    margin-bottom: 5em;
    text-align: center;
}

.redirect-error {
    color: red;
}