@charset "UTF-8";
html {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #333333;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  z-index: 1000;
}
header img {
  height: 2em;
}
header .search-bar {
  background: white;
  border-radius: 20px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .search-bar input {
  border: none;
  outline: none;
  height: 1.75em;
  width: 25em;
  font-family: "Montserrat", sans-serif;
}
header .search-bar img {
  height: 1em;
  padding: 0 0.2em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  padding: 1em 2em;
  /* Centers the element in the middle */
}
footer p {
  color: #656565;
}
footer b {
  font-weight: 600;
}
footer .authors {
  display: flex;
  align-items: center;
  gap: 1em;
}
footer .box-left {
  display: flex;
  flex: 1;
  align-items: center;
}
footer .box-left :last-child {
  margin-right: auto;
}
footer .box-right {
  display: flex;
  flex: 1;
  align-items: center;
}
footer .box-right :first-child {
  margin-left: auto;
}
footer .box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box;
}

.add-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em 1.5em;
  background: #E6E6E6;
  border-radius: 3em;
  transition: all 0.3s;
}
.add-btn .add-icon {
  height: 1em;
}
.add-btn .add-btn-content {
  font-weight: 600;
  font-size: 1em;
}
.add-btn:hover {
  background: #238BE8;
}

.delete-btn:hover .hover-msg {
  display: block;
}
.delete-btn .hover-msg {
  display: none;
  position: absolute;
  top: -1em;
  left: 3em;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em 1em;
  font-size: 0.5em;
  background: #c70303;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(255, 0, 0, 0.5);
  color: white;
}
.delete-btn img {
  height: 100%;
}

.submit-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background: #238BE8;
  border: none;
  border-radius: 3em;
  color: #FFF;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25em;
  transition: all 0.3s;
}
.submit-btn:hover {
  background: rgb(0, 104, 196);
}

.article-card {
  border-radius: 1em;
  box-shadow: 0.4em 0.1em 1em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  margin: 2em;
  width: 30em;
  transition: transform 0.3s ease-in-out;
  /* TODO */
}
.article-card .article-card-image {
  position: relative;
  border-radius: 1em;
  width: 100%;
  /* TODO */
  /* TRICK TO HAVE THE SAME HEIGHT AS THE IMAGE */
  height: 11.2em;
  /* WHY IS THE DIV NOT THE SAME HEIGHT AS THE IMAGE ? 😭 */
  box-shadow: inset 0.2em 0 1em rgba(0, 0, 0, 0.2);
}
.article-card .article-card-image img {
  position: relative;
  z-index: -1;
  width: 100%;
  aspect-ratio: 5/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
  filter: brightness(0.9);
}
.article-card .article-card-image .article-card-image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: 700;
  color: white;
  font-style: italic;
}
.article-card .article-card-image .article-card-image-title * {
  text-shadow: 0 0 0.5em black;
}
.article-card .article-card-content .article-card-title {
  font-family: "Montaga", serif;
  font-size: x-large;
  text-align: center;
  padding: 1em;
}
.article-card .article-card-content .article-card-description {
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.article-card:hover {
  transform: scale(1.025);
}

.score-bar {
  border-radius: 1em;
}
.score-bar .score-bar-progress {
  border-radius: 1em;
  height: 1em;
}

main {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */