html {
  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #333333;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  z-index: 1000;
}
header img {
  height: 2em;
}
header .search-bar {
  background: white;
  border-radius: 20px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .search-bar form {
  display: flex;
  align-items: center;
}
header .search-bar form button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .search-bar form button img {
  height: 1em;
  padding: 0 0.2em;
}
header .search-bar form input {
  border: none;
  outline: none;
  height: 1.75em;
  width: 25em;
  font-family: "Montserrat", sans-serif;
}
header .profile-picture {
  width: 2em;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  padding: 1em 2em;
  /* Centers the element in the middle */
}
footer p {
  color: #656565;
}
footer b {
  font-weight: 600;
}
footer .authors {
  display: flex;
  align-items: center;
  gap: 1em;
}
footer .box-left {
  display: flex;
  flex: 1;
  align-items: center;
}
footer .box-left :last-child {
  margin-right: auto;
}
footer .box-right {
  display: flex;
  flex: 1;
  align-items: center;
}
footer .box-right :first-child {
  margin-left: auto;
}
footer .box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.article-card {
  border-radius: 1em;
  box-shadow: 0.4em 0.1em 1em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  margin: 2em;
  width: 32.5em;
  transition: transform 0.3s ease-in-out;
  /* TODO */
}
.article-card .article-card-image {
  position: relative;
  border-radius: 1em;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  box-shadow: inset 0.2em 0 1em rgba(0, 0, 0, 0.2);
}
.article-card .article-card-image img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  aspect-ratio: 5/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
  filter: brightness(0.9);
}
.article-card .article-card-image .article-card-image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: 700;
  color: white;
  font-style: italic;
}
.article-card .article-card-image .article-card-image-title * {
  text-shadow: 0 0 0.5em black;
}
.article-card .article-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article-card .article-card-content .score-bar {
  width: 75%;
  align-self: center;
}
.article-card .article-card-content .article-card-title {
  font-family: "Montaga", serif;
  font-size: x-large;
  text-align: center;
  padding: 1em;
}
.article-card .article-card-content .article-card-bottom {
  padding: 2em 1em 1em 1em;
  display: flex;
}
.article-card .article-card-content .article-card-bottom .article-card-description {
  width: 100%;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.article-card .article-card-content .article-card-bottom .article-card-author {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1em;
  align-items: center;
}
.article-card .article-card-content .article-card-bottom .article-card-author .article-card-author-image {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
}
.article-card .article-card-content .article-card-bottom .article-card-author .article-card-author-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-card:hover {
  transform: scale(1.025);
}

.score-bar {
  border-radius: 1em;
}
.score-bar .score-bar-progress {
  border-radius: 1em;
  height: 1em;
}

main {
  display: flex;
  flex-direction: column;
}

.profile-picture {
  border-radius: 50%;
}

.button {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1em;
  font-weight: 200;
  font-style: italic;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}
.button:hover {
  background-color: #e0e0e0;
}

.button-danger {
  color: red;
}/*# sourceMappingURL=style.css.map */