// Font imports
html {
  font-family: 'Montserrat', sans-serif;
}

// Style imports
@import 'components/body-style.scss';
@import 'components/header-style.scss';
@import 'components/footer-style.scss';
@import 'components/buttons-style.scss';
@import 'components/article-card.scss';
@import 'components/score-bar.scss';
@import 'components/review-style.scss';

// Global styles
main {
  display: flex;
  flex-direction: column;
}