html {
  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
}

.btn {
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box;
}

.add-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em 1.5em;
  background: #E6E6E6;
  border-radius: 3em;
  transition: all 0.3s;
}
.add-btn .add-icon {
  height: 1em;
}
.add-btn .add-btn-content {
  font-weight: 600;
  font-size: 1em;
}
.add-btn:hover {
  background: #238BE8;
}

.delete-btn:hover .hover-msg {
  display: block;
}
.delete-btn .hover-msg {
  display: none;
  position: absolute;
  top: -1em;
  left: 3em;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em 1em;
  font-size: 0.5em;
  background: #c70303;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(255, 0, 0, 0.5);
  color: white;
}
.delete-btn img {
  height: 100%;
}

.submit-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background: #238BE8;
  border: none;
  border-radius: 3em;
  color: #FFF;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25em;
  transition: all 0.3s;
}
.submit-btn:hover {
  background: rgb(0, 104, 196);
}

.header-btn {
  position: relative;
  padding: 0.45em 1em;
  border-radius: 0.5rem;
  background: #238BE8;
  font-weight: 500;
  font-size: 1.25rem;
  color: #FFF;
  transition: all 0.3s;
}
.header-btn:hover {
  background: rgb(0, 104, 196);
}

.article-card {
  border-radius: 1em;
  box-shadow: 0.4em 0.1em 1em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  margin: 2em;
  width: 32.5em;
  transition: transform 0.3s ease-in-out;
  /* TODO */
}
.article-card .article-card-image {
  position: relative;
  border-radius: 1em;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  box-shadow: inset 0.2em 0 1em rgba(0, 0, 0, 0.2);
}
.article-card .article-card-image img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  aspect-ratio: 5/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
  filter: brightness(0.9);
}
.article-card .article-card-image .article-card-image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: 700;
  color: white;
  font-style: italic;
}
.article-card .article-card-image .article-card-image-title * {
  text-shadow: 0 0 0.5em black;
}
.article-card .article-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article-card .article-card-content .score-bar {
  width: 75%;
  align-self: center;
}
.article-card .article-card-content .article-card-title {
  font-family: "Montaga", serif;
  font-size: x-large;
  text-align: center;
  padding: 1em;
}
.article-card .article-card-content .article-card-bottom {
  padding: 2em 1em 1em 1em;
  display: flex;
}
.article-card .article-card-content .article-card-bottom .article-card-description {
  width: 100%;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.article-card .article-card-content .article-card-bottom .article-card-author {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1em;
  align-items: center;
}
.article-card .article-card-content .article-card-bottom .article-card-author .article-card-author-image {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
}
.article-card .article-card-content .article-card-bottom .article-card-author .article-card-author-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-card:hover {
  transform: scale(1.025);
}

.score-bar {
  border-radius: 1em;
}
.score-bar .score-bar-progress {
  border-radius: 1em;
  height: 1em;
}

.review-wrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8em;
}
.review-wrapper .delete-review {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.5em;
  color: #FF0000;
  cursor: pointer;
}
.review-wrapper .delete-review img {
  width: 1em;
}
.review-wrapper .review-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5em 5em 2em 5em;
  background: #E1E1E1;
  border-radius: 1em;
}
.review-wrapper .review-container .grade {
  position: absolute;
  top: -3rem;
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 500;
}
.review-wrapper .review-container .grade.good {
  background: #00CE7A;
  box-shadow: 0 0 0.7rem #00CE7A;
}
.review-wrapper .review-container .grade.average {
  background: #FFBD3F;
  box-shadow: 0 0 0.7rem #FFBD3F;
}
.review-wrapper .review-container .grade.bad {
  background: #FD0000;
  box-shadow: 0 0 0.7rem #FD0000;
}
.review-wrapper .review-container .review-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.review-wrapper .review-container .review-content {
  text-align: center;
  line-height: 1.5;
}
.review-wrapper .review-container .review-divider {
  margin-top: 1em;
  background: #767676;
  opacity: 50%;
  width: 100%;
  height: 0.1em;
}
.review-wrapper .review-container .reviewer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1em;
}
.review-wrapper .review-container .reviewer-wrapper .reviewer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
.review-wrapper .review-container .reviewer-wrapper .reviewer-container .reviewer-pp {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 100%;
  overflow: hidden;
  border: 0.2em solid #B7DDFF;
}
.review-wrapper .review-container .reviewer-wrapper .reviewer-container .reviewer-pp img {
  position: relative;
  height: 100%;
}
.review-wrapper .review-container .reviewer-wrapper .reviewer-container .reviewer-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.review-wrapper .review-container .reviewer-wrapper .reviewer-container .reviewer-info .reviewer-name {
  font-weight: bold;
  font-size: 1.3em;
}
.review-wrapper .review-container .reviewer-wrapper .reviewer-container .reviewer-info .reviewer-time span {
  font-weight: bold;
}

header {
  background-color: #333333;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  z-index: 1000;
}
header .logo img {
  height: 3em;
}
header .search-bar {
  background: white;
  border-radius: 20px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .search-bar form {
  display: flex;
  align-items: center;
}
header .search-bar form button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .search-bar form button img {
  height: 1em;
  padding: 0 0.2em;
}
header .search-bar form input {
  border: none;
  outline: none;
  height: 1.75em;
  width: 25em;
  font-family: "Montserrat", sans-serif;
}
header .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .right .profile-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  padding: 1em 2em;
  /* Centers the element in the middle */
}
footer p {
  color: #656565;
}
footer b {
  font-weight: 600;
}
footer .authors {
  display: flex;
  align-items: center;
  gap: 1em;
}
footer .box-left {
  display: flex;
  flex: 1;
  align-items: center;
}
footer .box-left :last-child {
  margin-right: auto;
}
footer .box-right {
  display: flex;
  flex: 1;
  align-items: center;
}
footer .box-right :first-child {
  margin-left: auto;
}
footer .box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

.profile-picture {
  border-radius: 50%;
}

.button {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1em;
  font-weight: 200;
  font-style: italic;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}
.button:hover {
  background-color: #e0e0e0;
}

.button-danger {
  color: red;
}/*# sourceMappingURL=style.css.map */